
pre {
  margin: 0;
}

/* Hide the filename since we're concerned with only one file name */
.d2h-file-header {
   display: none;
}

/* Hide the diff line number because we're showing full file comparisons */
.d2h-info {
   display: none;
}

.title {
   font-size: 300%;
   font-weight: bold;
   text-align: center;
}

h1 {
   padding: 4px;
   /*color: #0000CC;*/
   background: #ADAFAF;
}

h2 {
   padding: 4px;
   /*color: #006600;*/
   background: #00FFFF;
   padding-left: 1em;
}


.name {
   padding: 5px 5px 1px 50px;
   background: #FFCFA0;
   font-weight: bold;
   font-size: 22px;
}

.spec {
  margin-top: 0.5em;
}

.src {
   /* border: 1px solid black; */
   padding-bottom: 5px;
   padding-top: 5px;
   margin-top: 1em;
   margin-bottom: 0.5em;
   background: #FFE0FF;
   font-weight: bold;
}

.src {
   border: 1px solid black;
   padding: 1px 5px 1px 5px;
   background: #FFFFA0;
   font-weight: bold;
}

.diff {
   margin: 2px 0px 2px 0px;
}

.error {
   padding: 2em;
   background: red;
   font-weight: bold;
   font-size: 2em;
}

.warning {
   padding: 1em;
   background: red;
   font-weight: bold;
   font-size: 1em;
}

#contents {
  margin-bottom: 1em;
}

.row-title {
  display: inline-block;
  width: 5em;
}

.ctrl-button {
  min-width: 2em;
  margin: 3px;
  text-align: center;
}

.details-button {
  min-width: 5em;
  margin-top: 8px;
  text-align: center;
}

.next-button {
  width: 5em;
  margin: 3px;
  text-align: center;
}

.ctrl-button-selected {
  background-color: #3C3F20;
  color: white;
}

.ctrl-button-covered {
  background-color: #4CAF50;
}

#infoDiv {
  /*min-height: 1em;*/
  background-color: #FFCCCC;
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 3px;
}

.step-info {
  font-family: monospace;
}

.timing-info {
  float: right;
}

/*codemirror infinite height*/
#source_code {
  height: auto;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.diffBefore {}
.diffAfter {}

.step-valid, .step-justif {
  background: #99ffc9;
}
.step-invalid {
  background: #99c9ff;
}
.step-title:hover {
   cursor:pointer;
}
.exectime-heavy {
  background: #FF6666;
}
.exectime-mid {
  background: #ffcf66;
}