
pre {
  margin: 0;
}

body {
  max-width: 200ex;
}

/* Style for unit test divs */

.code-unit-test {
   /* border: 1px solid black; */
   padding-bottom: 5px;
   padding-top: 5px;
   margin-top: 1em;
   margin-bottom: 0.5em;
   background: #FFE0FF;
   font-weight: bold;
}

.code-unit-test {
   /*border: 1px solid black;*/
   padding: 3px 5px 3px 5px;
   background: #FFFFA0;
   font-weight: bold;
}

.diff-unit-test {
   margin: 2px 0px 2px 0px;
}

/*
.error {
   padding: 2em;
   background: red;
   font-weight: bold;
   font-size: 2em;
}

.warning {
   padding: 1em;
   background: red;
   font-weight: bold;
   font-size: 1em;
}
*/


/* Style for diff: Hide the filename since we're concerned with only one file name */
.d2h-file-header {
  display: none;
}

/* Style for diff: Hide the diff line number because we're showing full file comparisons */
.d2h-info {
  display: none;
}

/* Style for diff: customize diff display */

.d2h-code-side-linenumber {
  display: none;
  width: 2em;
}
.d2h-code-side-line {
  padding-left:2em;
}

.d2h-file-side-diff {
  overflow-x: auto;
}

.d2h-diff-table {
  margin: 5px 5px 5px 5px;
  width: 85%; /* hack to avoid the scrollbar showing up all the time */
}

.d2h-code-line ins, .d2h-code-side-line ins {
    background-color: inherit;
}

.d2h-code-line del, .d2h-code-side-line del {
    background-color: inherit;
}
