
.CodeMirror {
  font-size: 14px;
  line-height: 1.2em;
  /*font-family: monospace;*/
  height: 100%;
}

.CodeMirror-scroll {
  overflow: auto;
 /* height: 100%;*/
  max-height: 800px; /* LATER: should be the height of the page, probably could be set in JS */
}


.source_code_div {
}



#source_code {
  min-height: 10em;
  width: 30em;

}

.highlight {
  background: #F3F781;
}

td.pane {
  vertical-align: top;
  padding-left: 1em;
  padding-top: 1em;
}

#container {
}

#viewast {
   width: 30em;
}

.ast_node {

}

.ast_descr {
}

.ast_children {
  margin-left: 20px;
}

.ast_ctrl {
}

.ast_label {
  display: inline-block;
  text-align: left;
  width: 25px;
  font-size: 10px;
}

.ast_ctrl {
  cursor: pointer;
  color: red;
  font-size: 22px;
}

.grayed {
  color: gray;
}

.label-kind {
  cursor: pointer;
  font-weight: bold;
}