
.CodeMirror {
  font-size: 14px;
  line-height: 1.2em;
  /*font-family: monospace;*/
  height: 100%;
}

.CodeMirror-scroll {
  overflow: auto;
 /* height: 100%;*/
  max-height: 800px;
}


.source_code_div {
}



#source_code {
  min-height: 10em;
  width: 30em;

}

.highlight {
  background: #F3F781;
}

td.pane {
  vertical-align: top;
  padding-left: 1em;
  padding-top: 1em;
}

#container {
}

#viewast {
   width: 30em;
}
